
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: ubuntu;
}

html{
    scroll-behavior: smooth;
}

.loader-wrapper {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color:crimson;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .loader-inner g{
    fill: #fff;
    animation: loader-inner 2s infinite ease-in;
    
  }
  
  @keyframes loader-inner{
    0% { fill:rgb(240, 221, 225);}
    12% {fill:rgb(182, 85, 104) ;}
    25% {fill: rgb(150, 37, 60);}
    40% {fill: rgb(71, 11, 23);}
    50% { fill: rgb(3, 0, 1);}
    60% {fill: rgb(71, 11, 23);}
    70% {fill: rgb(150, 37, 60);}
    80% {fill:rgb(182, 85, 104) ;}
    90% { fill:rgb(240, 221, 225);}
  } 
  /* .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  } */

header{
    height: 85vh;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    
    background-attachment: fixed;
    
}

body{
    transition: all 0.8s ease;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.bg-color{
    background-color: crimson;
}




/* responsive navbar */
.headnav{
    position: relative;
    padding: 10px;
    background-color: crimson;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logonav{
display: flex;
justify-content: center;
align-items: center;
font-size: 23px;

padding: 0 53px;
color: #fff;
box-sizing: border-box;
float: left;


}

.logonav:hover{
    color: black;
    transition: 0.5s;
}

nav{
    float: right;

}
/* .clearfix{
    clear: both;
} */
nav ul{
    margin: 0%;
    padding: 0;
    display: flex;
}
nav ul li{
list-style: none;
}
nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    background-color: #000;
    transition: 0.5s;
}
 



@media (max-width: 1200px)
{
}

@media (max-width: 768px)
{
    .logonav{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        padding: 0 33px;
        color: #fff;
        box-sizing: border-box;
        float: left;
    }
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color:#fff;
        /* color: rgb(255 95 126); */
        

    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontawesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
        
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    }
}





header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 50%;
   
    padding-left: 20px;
}

.right{
   padding-left: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
   
}
.logoright{
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}


.text{
    margin: 20px 0;
    font-size: 33px;
    font-size: 2.6vw;
    
}

.bottomtext{
    margin-bottom: 20px;
}

.bottomtext span{
    background: black;
    color: #fff;
}
.bottomtext span::before{
    content: '';
    animation: animate infinite 6s;
}

@keyframes animate{
    0%{
        content: 'Design';
    }
    40%{
        content: 'Develop';
    }
    80%{
        content: 'Deliver';
    }
    100%{
        content: 'Design';
    }

}



   .frontbtn{
        width: 200px;
        height: 50px;
        background: crimson;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        border: 0;
        position: relative;
        left: calc(50% -100px);
        cursor: pointer;
    }
    
  .frontbtn:hover{
        background: #333;
    }

    @media(max-width:800px){
        .text{
            margin: 20px 0;
            font-size: 23px;
            font-size: 1.7;
            
        }
        
    }

    @media(max-width:600px){
        .text{
            
            font-size: 30px;
            font-size: 5vw;
            
        }
        .right{
            display: none;
        }
        .left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            width: 100%;
        }
        
    }

    @media(max-width:380px){
        .text{
            
            font-size: 30px;
            font-size: 6vw;
            
        }
        .right{
            display: none;
        }
        .left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: left;
            width: 100%;
        }
        
        .frontbtn{
            width: 150px;
            height: 45px;
            background: crimson;
            color: #fff;
            font-size: 17px;
            font-weight: 600;
            text-transform: uppercase;
            border: 0;
            position: relative;
            left: calc(50% -100px);
            cursor: pointer;
        }
        
      .frontbtn:hover{
            background: #333;
        }
    }








    .workh{
        margin: 0px;
        padding: 0px;
        font-size: 10vw;
        color: rgb(255 95 126); 
    }
    
    .prsec{
        
        display: flex;
        justify-content: center;
        padding: 25px;
    }
    
    
    
    .half{
        /* height: 300vh; */
        display: flex;
        margin: 0px;
        
        padding: 0px;
        /* background-color: #3A00B8;*/
    }
    .title{
        
        width: 50%;
        height: 100vh;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        position: relative;
    }
    
    #img1{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        
        transform: scale(1.5) rotate(30deg);
        
        
    }
    
    #img2{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        transform: scale(1.5) rotate(-15deg);
        /* z-index: 0; */
    }

    #img3{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;
        
        transform: scale(1.5) rotate(30deg);
        
        
    }
    
    .about-pages{
        width: 50%;
    
    }
    .about-pages div{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .about-pages div p{
        width: 80%;
    }
    
    .project2{
        background-color: #FED000;
        
    }
    
    .project1{
        background-color: #EEF2FF;
        overflow: hidden;
    }

    .project3{
        background-color: #EEF2FF;
        overflow: hidden;
    }
    







    .bgimg1{
        width: 100%;
        ;
        position: relative;
        background-image: url('img/Frame40.png');
        
        background-size: cover;
    }

    .bgimg2{
        width: 100%;
        
        position: relative;
        background-image: url('img/Frame44.png');
        
        background-size: cover;
    }

    .bgimg3{
        width: 100%;
        
        position: relative;
        background-image: url('img/CHIRP.png');
        
        background-size: cover;
    }

    .overlay{
        padding: 0px 25px;
        width: 100%;
        
        font-size: 18px;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .overlay p{
        text-align: center;
    }

.mobile{
    display: none;
}

.mobilework{
    display: none;
}

@media(max-width:650px){
    
    .mobilework{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile{
        display:none;
        flex-direction: column;
    }
    .half{
        display: none;
    }
    .mobcard{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        border-radius: 30px;
        margin: 10px;
        padding-bottom: 20px;
        width: 350px;
        box-shadow: #000;
    }
    #mobimg{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-bottom: 10px;
    }
    .mobtext{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #e6e6e6;
    }
    .mobtext h3{
        margin-bottom: 10px;
    }
}







/* our services */
a{
	text-decoration:none;
}

.containerservice{
    padding: 40px;
	width:100%;
	
	background-color: crimson;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.box{
	width:90vw;
	height:410px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	box-sizing: border-box;
	margin: 20px 10px;
    
}


.box p{
	font-family: calibri;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 20px;
}

.box h1{
	font-family: calibri;
	font-weight: bold;
	color:#fff;
	text-align: center;
	margin-top: 20px;
}

.logo{
	height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10000%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
    
}
.box:hover {
	color:#c0292b;
	transition: all ease 0.5s;
    cursor: pointer;

} 

.cs-hidden{
    display: flex;
    overflow-x: auto;
}

.cs-hidden::-webkit-scrollbar{
    width: 10px;

}

.cs-hidden::-webkit-scrollbar-track{
    background-color: rgb(190, 19, 53);
    border-radius: 5px;
}

.cs-hidden::-webkit-scrollbar-thumb{
    background-color: rgb(233, 54, 90);
    border-radius: 5px;
}

/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
	width:270px;
	height:390px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	box-sizing: border-box;
	margin: 10px 10px;
	}
	
    .cs-hidden::-webkit-scrollbar{
        display: none;
    }
}

/* our services ends */






/* team section */

.team{
    position: relative;
}
.team::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}
.team::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}
.container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgb(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);
}
.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
}
.container .card:hover .content{
    opacity: 1;
    transform: translateY(-20px);
}
.container .card .content .img{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.container .card .content .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content .contentBx{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.1em;
}
.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.container .card .sci{
    position: absolute;
    bottom: 50px;
    display: flex;
}
.container .card .sci li{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.1s * var(--i));
}
.container .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .sci li a{
    color: #fff;
    font-size: 24px;
}




/* contact form */

.contact-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-form{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    background: white;
    margin: 30px 0;
}

.contact-form > *{
    width: 50%;
}

.contact-form .first-container{
    
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));  
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-form .first-container .info-container div{
margin: 24px 0;
}
.contact-form .first-container .info-container div h3{
    color: rgb(179, 169, 169);
    font-size: 18px;
    font-weight: 200px;
    line-height: 1.2;
    padding-bottom: 10px;
}

.contact-form .first-container .info-container div p{
    font-size: 16px;
    line-height: 1.6;
    color: crimson;
}
.contact-form .first-container .info-container div:first-of-type p{
   max-width: 260px;
   color: #999;
}
.contact-form .second-container{
    padding: 30px;
}

.contact-form .second-container form{
    display: flex;
    flex-direction: column;
}
.contact-form .second-container h2{
    font-size: 30px;
    font-weight: 400;
    color: #333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}
.contact-form .second-container form .form-group{
    margin-bottom: 10px;
}

.contact-form .second-container form .form-group *{
    min-height: 55px;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
}

.contact-form .second-container form .form-group label{
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #e6e6e6;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    margin-top: -1px;
}

.contact-form .second-container form .form-group:first-of-type input{
    width: 50.1%;
    margin-right: -5px;
      
}

.contact-form .second-container form .form-group input{
    width: 100%;
    margin-right: 15px;
    margin-top: -2px;    
}

.contact-form .second-container form .form-group  input::placeholder,
.contact-form .second-container form .form-group textarea::placeholder{
    color: #999;
}

.contact-form .second-container form .form-group textarea{
    width: 100%;
    min-height: 80px;
    resize: none;
    padding: 10px 20px;
    margin-top: -1px;
}

.contact-form .second-container form button{
    width: 200px;
    height: 50px;
    background: crimson;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    position: relative;
    left: calc(50% -100px);
    cursor: pointer;
}

.contact-form .second-container form button:hover{
    background: #333;
}

@media screen and (max-width: 800px) {
    .contact-form{
        width: 90vw;
    }
    
}

@media screen and (max-width:700px) {
    .contact-form{
        flex-direction: column-reverse;
        margin: 24px 0px;
    }
    .contact-form > *{
        width: 100%;
    }
    .contact-form .first-container{
        padding: 40px 0;
    }
    
}




/* ----------------------------------------------------------------lighter css file-------------------------------------------------------- */\